*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: Arial, sans-serif;
}
header{

}
.topbar{
    background-color: #083d28;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.topbar .location{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    font-size: 14px;
}